.document-viewer-container {
  padding-left: 80px;
  background: #e5e5e5;
  flex: 1;
  width: 22.5%;
  height: 100vh;
  overflow: hidden;

  .document-viewer-wrapper {
    height: 70vh;
    .document-content {
      margin-top: 45px;
      margin-right: 70px;
      margin-bottom: 70px;
      background: #ffffff;
      font-family: Poppins;
      border: 5px dotted #ff0000;
      box-sizing: border-box;
      padding: 25px;
      max-width: 634px;
      height: 100%;
      max-height: 802px;
      overflow-y: auto;
    }
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .document-viewer-container {
    padding: 0px;
    margin: auto;

    .document-viewer-wrapper {
      margin: auto;
      overflow-y: auto;
      height: 90vh;
      width: 90%;
      .document-content {
        margin-left: auto;
        font-family: Poppins;
        margin-right: auto;
      }
    }
  }
}
