.menu-header {
  width: 45px;
  height: 32px;
  margin-left: 53px;
  margin-top: 50px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 175% */
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.27);
}

.left-bar-container {
  position: relative;
  height: 100vh;
  background-color: #070d59;
  width: 27.5%;
  min-width: 300px;
}

.document-viewer-container {
  padding-left: 80px;
  background: #e5e5e5;
  flex: 1;
  width: 22.5%;
  height: 100vh;
  overflow: hidden;

  .document-viewer-wrapper {
    height: 70vh;
    .document-content {
      margin-top: 45px;
      margin-right: 70px;
      margin-bottom: 70px;
      background: #ffffff;
      border: 5px dotted #ff0000;
      box-sizing: border-box;
      padding: 25px;
      max-width: 634px;
      height: 100%;
      max-height: 802px;
      overflow-y: auto;
    }
  }
}
